{% extends 'base.html.twig' %}

{% block body %}
<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="#home" class="smoothScroll">Taken Madlibs</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="#story-one-form" class="smoothScroll">A Mysterious Call</a>
			<a href="#story-two-form" class="smoothScroll">Confused Telemarketer</a>
            <a href="#story-three-form" class="smoothScroll">Bizarre Job Interview</a>
            <a href="#story-four-form" class="smoothScroll">Parent Teacher Conference</a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>

	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<h1 style="text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);">TAKEN AUDIO MADLIBS</h1>
				<div class="col-lg-6 col-lg-offset-3">
                    <h4 style="margin: 60px 0px;"><a style="background: rgba(255, 255, 255, 0.5);color:#941D01;padding:2px" target='_blank' href='http://en.wikipedia.org/wiki/Mad_Libs'>What the hell is a madlib? Read wiki here.</a></h4>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	

	<!-- ========== ABOUT SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="f">

		<div class="container">

			<div class="row">
				<h2>If you think you have the required skills, fill out one of the forms below to generate a story.</h2>

                <ul class="nav nav-tabs">
                    <li><a href="#story-one-form" class="smoothScroll">A Mysterious Call</a></li>
                    <li><a href="#story-two-form" class="smoothScroll">Confused Telemarketer</a></li>
                    <li><a href="#story-three-form" class="smoothScroll">Bizarre Job Interview</a></li>
                    <li><a href="#story-four-form" class="smoothScroll">Parent Teacher Conference</a></li>
                </ul>

				<div class="col-lg-6 col-lg-offset-3">
                    <form id="story-one-form" class="form-horizontal story-forms" >
                        <fieldset>

                            <h3 class="text-center">Story One: A Mysterious Call</h3>

                            <p>Confused? <a id="populate-example" href="#" >click here</a> to populate an example.</p>

                             <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="animalOne" name="animal_one" placeholder="Enter an animal, ie 'camel' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="personName" name="person_name" placeholder="Enter name of a person you know, ie 'Tom Brady' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="placeYouDislike" name="place_you_dislike" placeholder="Enter the name of a place you dislike, ie 'waste treatment plant' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="animalTwo" name="animal_two" placeholder="Enter a different animal than above, ie 'horny toad' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pastTenseVerb" name="past_tense_verb" placeholder="Enter a past tense verb, ie 'destroyed' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="somethingYouValue" name="something_you_value" placeholder="Enter something you value (noun), ie 'peace on earth' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="country" name="country" placeholder="Enter the name of a country, ie 'Liberia' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNoun" name="plural_noun" placeholder="Enter a plural noun, ie 'dragons' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="singularNoun" name="singular_noun" placeholder="Enter a singular noun, ie 'toilet seat' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary">Submit Story One</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
				</div>

                <div class="col-lg-6 col-lg-offset-3">
                    <form id="story-two-form" class="form-horizontal story-forms" >
                        <fieldset>
                            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                            <h3 class="text-center">Story Two: Confused Telemarketer</h3><br>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="personName" name="person_name" placeholder="Enter name of a person you know, ie 'Bobby Two Fingers'" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveOne" name="adjective_one" placeholder="Enter a derogatory adjective, ie 'slimey' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="company" name="company" placeholder="Enter the name of a company, ie 'Walmart' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveTwo" name="adjective_two" placeholder="Enter an adjective, ie 'steaming' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="singularNoneOne" name="singular_noun_one" placeholder="Enter a singular noun, ie 'pancake' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounOne" name="plural_noun_one" placeholder="Enter a plural noun, ie 'bunnies' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounTwo" name="plural_noun_two" placeholder="Enter another plural noun, ie 'dragons' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveThree" name="adjective_three" placeholder="Enter another derogatory adjective, ie 'filthy' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pastTenseVerbOne" name="present_tense_verb_one" placeholder="Enter a present tense verb, ie 'jog' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounThree" name="plural_noun_three" placeholder="Enter another plural noun, ie 'beets' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounFour" name="plural_noun_four" placeholder="Enter another plural noun, ie 'jellybeans' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="singularNounTwo" name="singular_noun_two" placeholder="Enter a singular noun, ie 'stick figure' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounFive" name="plural_noun_five" placeholder="Enter another plural noun, ie 'Tom Bradys children' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pastTenseVerb" name="past_tense_verb" placeholder="Enter a past tense verb, ie 'destroyed' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="singularNounThree" name="singular_noun_three" placeholder="Enter a singular noun, ie 'snake' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveFour" name="adjective_four" placeholder="Enter another adjective, ie 'blistering' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pastTenseVerbTwo" name="present_tense_verb_two" placeholder="Enter another present tense verb, ie 'jog' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="animal" name="animal" placeholder="Enter an animal, ie 'goat' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary">Submit Story Two</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>


                <div class="col-lg-6 col-lg-offset-3">
                    <form id="story-three-form" class="form-horizontal story-forms" >
                        <fieldset>
                            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                            <h3 class="text-center">Story Three: Bizarre Job Interview</h3><br>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="company" name="company" placeholder="Enter the name of a company, ie 'Walmart' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="career" name="job_title" placeholder="Enter an job title, ie 'grave digger' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="career" name="career" placeholder="Enter an embarrasing career, ie 'adult entertainer' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="personName" name="person_name" placeholder="Enter name of a person you know, ie 'Peyton Manning' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="singularNoneOne" name="singular_noun_one" placeholder="Enter a singular noun, ie 'mermaid egg' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounOne" name="plural_noun_one" placeholder="Enter a plural noun, 'mermaid eggs' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveOne" name="adjective_one" placeholder="Enter a derogatory adjective, 'puny' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveTwo" name="adjective_two" placeholder="Enter another derogatory adjective, ie 'repulsive' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="singularNounTwo" name="singular_noun_two" placeholder="Enter a singular noun, 'wiener' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="feeling" name="feeling" placeholder="Enter a feeling, 'bewildered ' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounTwo" name="plural_noun_two" placeholder="Enter another plural noun, 'carnivals' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveThree" name="adjective_three" placeholder="Enter another derogatory adjective, ie 'ghastly' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveFour" name="adjective_four" placeholder="Enter another adjective, 'monstrous' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pastTenseVerbOne" name="present_tense_verb_one" placeholder="Enter a present tense verb, ie 'jog' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounThree" name="plural_noun_three" placeholder="Enter another plural noun, ie 'hotdogs' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounFour" name="plural_noun_four" placeholder="Enter another plural noun, 'banjos' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="animals" name="animals" placeholder="Enter a plural of animals, ie 'dogs' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary">Submit Story Three</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>


                <div class="col-lg-6 col-lg-offset-3">
                    <form id="story-four-form" class="form-horizontal story-forms" >
                        <fieldset>
                            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
                            <h3 class="text-center">Story Four: Parent Teacher Conference</h3><br>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="properName" name="proper_name" placeholder="Enter a proper name ie, Mrs. Ripley" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="schoolSubject" name="school_subject" placeholder="Enter a school subject, 'sex education' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="feelingOne" name="feelingOne" placeholder="Enter a feeling, ie 'victimized '  " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveOne" name="adjective_one" placeholder="Enter a derogatory adjective, ie 'vile' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveTwo" name="adjective_two" placeholder="Enter an adjective, 'somber' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="feelingTwo" name="feelingTwo" placeholder="Enter another feeling, ie 'sober' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="singularNoneOne" name="singular_noun_one" placeholder="Enter a singular noun, 'clown' " required>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pluralNounOne" name="plural_noun_one" placeholder="Enter a plural noun, 'ant eaters' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="place" name="place" placeholder="Enter the name of a place, 'White House' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="adjectiveThree" name="adjective_three" placeholder="Enter another derogatory adjective, ie 'sour' " required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="pastTenseVerbOne" name="past_tense_verb_one" placeholder="Enter a past tense verb, ie 'destroyed' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="singularNounTwo" name="singular_noun_two" placeholder="Enter a singular noun, ie 'trampoline' " required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="personNameTwo" name="person_name_two" placeholder="Enter another name of a person you know, ie 'Giselle" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary">Submit Story Four</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>


            </div>
		</div><!-- /container -->
	</div><!-- /f -->


    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Processing Audio Madlib</h3>
                </div>
                <div class="modal-body">

                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 100%;">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>

                    <div class="audio-player" style="display:none">
                        <audio  controls >
                            <source src="#">
                            Your browser does not support the audio element.
                        </audio>
                        <p>Want to save audio file? Just right click audio player above and choose Save Audio As.</p>
                    </div>

                    <div class="madlib-actions" style="display:none">
                        <input type="text" class="form-control" id="name" name="name" placeholder="enter your name" required><br>
                        <input type="email" class="form-control" id="email" name="email" placeholder="enter email" required><br>
                        <button id="emailToFriend" type="button" data-file="" class="btn btn-info">Email to a friend</button>
                    </div><br>

                    <p class="email-success alert alert-success" style="display:none" >Your email has been sent!</p>
                    <p class="email-error alert alert-danger" style="display:none" >There was an error sending email!</p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script>

        $(function() {

            var emailFileUrl = '{{ url('email_file') }}';

            $('#populate-example').on("click",function(){
                $('#animalOne').val('sloth');
                $('#personName').val('Benny the Jet');
                $('#placeYouDislike').val('Porta Potty');
                $('#animalTwo').val('warthog');
                $('#pastTenseVerb').val('smacked');
                $('#somethingYouValue').val('air fresheners');
                $('#country').val('Canada');
                $('#pluralNoun').val('froot loops');
                $('#singularNoun').val('toad');
                return false;
            });

            $('#emailToFriend').on("click",function(){

                if($('#email').val() == ''){
                    alert('You must enter an email!');
                    return false;
                }

                if($('#name').val() == ''){
                    alert('You must enter an name!');
                    return false;
                }

                $.ajax({
                    url: emailFileUrl,
                    type: "post",
                    data: { email: $('#email').val(), file: $(this).attr("data-file"), title: $(this).attr("data-title"),name:$('#name').val() }
                }).done(function (data){

                    if(data.isSent)
                        $('.email-success').show();
                    else
                        $('.email-error').show();

                });

            });

            $('.story-forms').on("submit",function(){

                $(this).find('input').each(function(){
                    if($(this).val() == ''){
                        alert('Please enter values for ever field in the story!');
                        return false;
                    }

                });


                if($(this).attr("id") == 'story-one-form' )
                    var storyUrl = '{{ url('story_one') }}';

                if($(this).attr("id") == 'story-two-form' )
                    var storyUrl = '{{ url('story_two') }}';

                if($(this).attr("id") == 'story-three-form' )
                    var storyUrl = '{{ url('story_three') }}';

                if($(this).attr("id") == 'story-four-form' )
                    var storyUrl = '{{ url('story_four') }}';

                $('#modal').modal('show');

                $.ajax({
                    url: storyUrl,
                    type: "post",
                    data: $(this).serialize()
                }).done(function (data){

                    if(data.filename){

                        $('.progress').removeClass('progress-striped').removeClass('active').find('.progress-bar').addClass('progress-bar-success');
                        $('.audio-player audio').attr("src","/audio/" + data.filename ).show();
                        $('.audio-player').show();
                        $('#emailToFriend').attr("data-file",data.filename).attr("data-title",data.title);
                        $('.madlib-actions').show();

                    }else{
                        alert('Woops! Something went wrong..');
                    }
                });

                return false;

            });

            $('#modal').on('hidden.bs.modal', function () {
                $('#emailToFriend').attr("data-file","").attr("data-title","");
                $('#email').val("");
                $('#name').val("");
                $('.progress').addClass('progress-striped').addClass('active').find('.progress-bar').removeClass('progress-bar-success');
                $('.audio-player').hide();
                $('audio').each(function(){ this.pause() });
                $('.madlib-actions').hide();
            });



        });




    </script>

{% endblock %}
